body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.3rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.2rem;
}

nav {
    background-color: #333333;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.7rem;  
    margin: 0.10rem; 
}

nav ul a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    gap: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article {
    flex: 1;
    border-radius: 1rem;
}

article img {
    max-width: 68%;
}

article a {
    font-size: 1.5rem;
    text-decoration-line: none;
    transition: 0.3s;
}

article a:hover {
    font-size: 1.8rem;
    text-decoration-line: underline;
    transition: 0.4s;
}

footer {
    display: flex;
    border-top: 1px #333333;
}

footer > div {
    flex: 1;
}

footer img {
    max-width: 10%;
}

#banner {
    background-image: url(/Placeholder.png);
    background-position: 0rem;
    background-size: cover;
    max-width: 100%;
    border-radius: 1rem;
    text-align: center;
}

#banner p1 {
    font-size: 2rem;
    max-width: 100%;
}